<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" />
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <style>
        body {
            background: rgb(4,0,74);
            background: linear-gradient(90deg, rgba(4,0,74,1) 0%, rgba(125,25,122,1) 49%, rgba(0,169,203,1) 100%);
        }
    </style>

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a href="#" class="navbar-brand"><i class="fas fa-home" style="margin-left: 20px; margin-right: 10px;"></i></a>
    <a href="/preguntas" class="navbar-brand">Creacion de preguntas</a>
</nav>
<h1 class="page-header">Bienvenido a siver monqui</h1>
    
</body>
</html>